.thanksSection button {
    background-color: #0000A0;
    color: white;
    border: none;
    padding: 10px 10px;
    margin: 8px 0px;
    border-radius: 5px;
    cursor: pointer;
}

.thanksSection button:hover {
    background-color: #0000F0;
}
