.thanksSection button {
    background-color: #C81C2D;
    color: white;
    border: none;
    padding: 10px 10px;
    margin: 8px 0px;
    border-radius: 5px;
    cursor: pointer;
}

.thanksSection button:hover {
    color: black;
    background-color: #C81C2D;
}

@media screen and (min-width:700px) {

    .thanksSection {
        
        margin: 5% 5%;
        padding: 5% 5%; 
        margin: 20px; 
    }
 
}
