#welcomeHeading h1 {
  font-size: larger;
}

#signupForm {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
  width: 70%;
  min-width: 200px;
  max-width: 600px;
  border: 2px solid black;
  border-radius: 10px; 
  text-align: left;
  background-color: white;
  color: black;
}

#signupForm label{
  margin-left: 10px;
}

#signupForm input[type=text], input[type=email] {
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: lightgrey;
}

#signupForm input[type=text]:focus, input[type=email]:focus {
    background-color: white;
}


input[type=button] {
    width: 100%;
    background-color: #0000A0;
    color: white;    
    border: none;
    padding: 10px 10px;
    margin: 8px 0px;
    border-radius: 5px;
    cursor: pointer;
}

input[type=button]:hover {
    background-color:#0000F0;
}