* {
  box-sizing: border-box;
}


@media screen and (max-width:600px) {
   .App {
    text-align: center;
    margin: auto;
    padding: 5%;
    width: 100%;
    height: 100%;
    color: white;
    background: #e46ded;
    background-attachment: fixed;
    overflow: hidden;
  }

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 15vh;
    
  }

  .App-header {
    padding: 5%;
  }

  .p-title{
    font-size: 48px;
    letter-spacing: 2px;
    font-family: 'Arvo', serif;
  }
}

@media screen and (min-width:600px) {


  .App {
    text-align: center;
    margin: auto;
    padding: 20 20 20 20;
    height: 100vh;
    color: white;
    background: #e46ded;
  }

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
    display: none;
  }

  .App-header {
    padding: 20px;
  }

  .p-title{
    font-size: 48px;
    letter-spacing: 2px;
    font-family: 'Arvo', serif;
  }

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
