/*
Overriding Materialize's width for containers and grid
*/
main {
  flex: 1 0 auto;
}

.fullrow{
  width: 100vw;
}

a {
  color: white;
}

.desktop-font{
  display: block;
  padding-right: 4vw;
  font-size: 2vh;;
}

.footer-links{
  display: inline-flex;
  float: right;
  font-size: 18px;
  font-family: 'Arvo', serif;
  padding: 10px 20px;
}

footer{
  z-index: 5;
}

/*
Styles we had since phase 1 BUT added stuff to App for materialize footer
*/
.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  flex-direction: column;
}

.head-content {
  /*max-height: 12vh;*/
}



.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
