* {
  box-sizing: border-box;
}


@media screen and (max-width:600px) {
   .App {
    text-align: center;
    margin: auto;
    padding: 5%;
    width: 100%;
    height: 100%;
    color: white;
    background: radial-gradient(darkgrey, green);
    background-attachment: fixed;
    overflow: hidden;
  }

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 15vh;
  }

  .App-header {
    padding: 5%;
  }
}

@media screen and (min-width:600px) {


  .App {
    text-align: center;
    margin: auto;
    padding: 20 20 20 20;
    height: 100%;
    color: white;
    background: radial-gradient(darkgrey, green);
  }

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }

  .App-header {
    padding: 20px;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
