/* settings universal to all screen sizes */

* {
    box-sizing: border-box;
}

.App {
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    color: white;
    background: #96b543;
    font-family: 'Arvo', serif;
    letter-spacing: .05em;
}

.learn-btn {
    background-color: #236B8E;
    border: none;
    color: white;
    padding: 10px;
}


/* smartphone sized screens */

@media screen and (max-width:700px) {
    .App {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
    }
    .head-content: {
        width: inherit;
        height: inherit;
        margin: auto;
    }
    #head-rectangle {
        min-height: 90px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        height: 12vh;
        background: #444;
        z-index: 2;
        box-shadow: 0px 2px 2px 2px;
    }
    .logo-div {
        margin: auto;
        height: inherit;
        margin-left: 5px;
    }
    .logo {
        padding: 3px;
        height: 80%;
        margin-top: 10%;
    }
    .p-title {
        font-size: 2em;
        letter-spacing: 2px;
        font-family: 'Arvo', serif;
        text-align: left;
        padding-right: 10px;
    }
    .nav-div {
        margin: auto;
        height: inherit;
        align-self: stretch;
        margin-right: 15px;
    }
    .main-content {
        flex: 4 1 65%;
        padding: 10px;
        margin: auto;
        overflow: scroll;
    }
    .learn-div {
        flex: 1 1 10%;
        width: 100%;
        background-color: rgba(5, 5, 5, .25);
    }
    .learn-btn {
        background-color: #236B8E;
        padding: 20px;
        margin-top: 5px;
        height: inherit;
        width: 80%;
        max-width: 50%;
    }
}


/*desktop sized screens*/

@media screen and (min-width:700px) {
    .App {
        margin: auto;
        padding: 20 20 20 20;
        min-height: 100vh;
        height: 100% !important;
        color: white;
    }

    .main-content {
        display: flex;
        align-items: stretch;
        justify-content: center;
    }

    .App-logo {
        height: 80px;
    }
    .p-title {
        margin: 0;
        border-top: 5px solid #fff;
        padding: 20px 0;
        font-size: 48px;
        letter-spacing: 2px;
        font-family: 'Arvo', serif;
        background: #96b543;
        margin-bottom: 20px;
    }
    .learn-div {
        width: 100%;
    }
    .learn-btn {
        font-size: 16px;
        padding: 10px;
        width: 20%;
    }
    .learn-btn:hover {
        color: black;
        background-color: #3299CC;
    }

    .semi-transparent-box{
        flex: 1 1 auto;
        margin: auto;
        width: 100%;
        margin: 0 5%;
        padding: 5px 5%; 
        color: #111;
        background: rgba(255,255,255,1);
    }
}
