* {
  box-sizing: border-box;
}


/* settings universal to all screen sizes */
.App {
  box-sizing: border-box;
  text-align: center;
  min-width: 100%;
  min-height: 100vh;
  color: white;
  background: #e46ded;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
}



/* smartphone sized screens */
@media screen and (max-width:700px) {
   .App {
    padding: 5%;
    height: 100%;
    color: white;
    background-attachment: fixed;
  }

  .App-logo {
    height: 15vh;
    
  }

  .App-header {
    padding: 5%;
  }

  .p-title{
    font-size: 48px;
    letter-spacing: 2px;
    font-family: 'Arvo', serif;
  }
}


/* Larger than smartphone screen */
@media screen and (min-width:700px) {

  .App {
    margin: auto;
  }

  .App-logo {
    height: 80px;
    display: none;
  }

  .App-header {
    padding: 20px;
  }

  .p-title{
    font-size: 48px;
    letter-spacing: 2px;
    font-family: 'Arvo', serif;
  }

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
