* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  margin: auto;
  padding: 20 20 20 20;
  height: 100vh;
  color: white;
  background: radial-gradient(darkgrey, green);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  padding: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
