* {
  box-sizing: border-box;
}


/* settings universal to all screen sizes */
.App {
  box-sizing: border-box;
  text-align: center;
  min-width: 100%;
  min-height: 100vh;
  color: white;
  background: radial-gradient(darkgrey, green);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
}



/* smartphone sized screens */
@media screen and (max-width:700px) {
   .App {
    padding: 5%;
    height: 100%;
    color: white;
    background: radial-gradient(darkgrey, green);
    background-attachment: fixed;
  }

  .App-logo {
    height: 15vh;
  }

  .App-header {
    padding: 5%;
  }
}


/* Larger than smartphone screen */
@media screen and (min-width:700px) {


  .App-logo {
    height: 80px;
  }

  .App-header {
    padding: 20px;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
