.pillar-summary{
    margin-top: 5px;
}




@media screen and (max-width:700px) {
    .pillar-section {
        margin: 2vw;
        padding: 3vw;
    }
    .pillar-summary {
        padding: 2vw;
    }

    .pillar {
    	margin:  10px;
        flex: 1 1 30%;
        background-color: #f5f5f5;
        border-radius: 10px;
        color: black;
    }

    .pillar img {
        display: block;
        margin: 5% auto;
        width: 100%;
    }

    .pillar-desc {
    	padding: 0 20px;
        font-size: 14px;
        color: #333;
    }
}

@media screen and (min-width:700px) {
    .pillar-section {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
    }

    .pillar-container {
    	display: flex;
    	align-items: stretch;
    	justify-content: stretch;
    }

    .pillar {
    	margin:  10px;
        flex: 1 1 30%;
        background-color: #f5f5f5;
        border-radius: 10px;
        color: black;
    }

    .pillar img {
        display: block;
        margin: 5% auto;
        width: 100%;
    }

    .pillar-desc {
        padding: 0 20px;
        font-size: 14px;
        color: #5c5c5c;
    }
}
