.message{
  border-radius: 1vw;
}

.message_space{
  height: 55vh;
  overflow: scroll;
}

.list-div{
  max-height: 55vh;
  overflow: scroll;
}

.name-panel {
  padding: 0vh !important;
}

.name {
  padding: 2vh !important;
}

.close {
  padding: 2vh !important;
}

.side {
  background-color: #f5f5f5;
  border-radius: 15px;
  padding: 7vw;
}
