/*desktop*/
@media screen and (min-width: 700px){
  .settingsBtn{
      padding-right: 2.5vw;
  }

  .settingsIcon{
    margin-top: 1vw;
    background-color: #212121;
    border: none;
  }

  .div-dropdown{
      right: 0;
      width: 14vw;
      margin-right: 1vw;
  }
  .li-dropdown{
      width: 14vw;
  }

  .li-navs{
      font-size: 1vw;
      color:black;
      background-color: white;
      text-align: left;
      border: 1px solid;
      border-color: #C9C9C9;
  }
}

/*mobile*/
@media screen and (max-width: 699px){
  .settingsIcon{
    margin-top: 7vw;
    background-color: #212121;
    border: none;
  }

  .li-navs{
      font-size: 2.5vh;
      color:black;
      background-color: white;
      text-align: left;
      border: 1px solid;
      border-color: #C9C9C9;
  }

  .li-dropdown{
      width: 14vh;
  }
}
