/*desktop*/
@media screen and (min-width: 700px){
  .settingsIcon{
    margin-top: 1vw;
    background-color: #212121;
    border: none;
  }

  .ul-dropdown{
      position: absolute;
  }

  .li-navs{
      font-size: 1vw;
      color:black;
      background-color: white;
      text-align: left;
      border: 1px solid;
      border-color: #C9C9C9;
  }

  .li-dropdown{
    width: 14vw;
}
}

/*mobile*/
@media screen and (max-width: 699px){
  .settingsIcon{
    margin-top: 11vw;
    background-color: #212121;
    border: none;
  }

  .ul-dropdown{
    margin-top: 10px;
    position: absolute;
    right:20px;
    width:110px;
}

  .li-navs{
      font-size: 2.5vh;
      color:black;
      background-color: white;
      text-align: left;
      border: 1px solid;
      border-color: #C9C9C9;
      padding-left: 8px;
      padding-right: 15px !important;
      width: inherit;
      float: left;
  }

  .li-dropdown{
      width: inherit;
  }
}
