li:hover {
	background-color: #629a06 50%;
}

li .active {
	background-color: none;
}
 li :not(active) {
 	background-color: none;
 }



@media screen and (max-width:700px) {
   

	ul {
		width: 90%;
	    list-style: none;
	    background: none;/*linear-gradient(to right, rgba(255,255,255,.1), rgba(255,255,255,.35), rgba(255,255,255,.35), rgba(255,255,255,.1));
		*/
		display: block;
		margin: auto;
		padding: 0;
		text-align: center;
	}

	li {
		display: block;
		margin: auto;
	}

	

	li a {
		display: block;
	    color: white;
	    text-align: center;
	    text-decoration: none;
		padding: 10px 20px;
		font-family: 'Arvo', serif;
	}

	.icon{
		font-size: 1.5em;
	}
}


@media screen and (min-width:700px) {
	nav {
		margin: 20 20;
		display: block;
	}

	ul {

	    list-style: none;
	    margin: 10 10;
		padding: 10 10;

	}

	li {
		display: inline-block;
	}

	li a {
		display: block;
	    color: black;
	    text-align: center;
	    text-decoration: none;
		padding: 10px 20px;
		font-family: 'Arvo', serif;
	}

	.menuIcon {
		display: none;
	}
	
	.icon{
		font-size: 1.5em;
	}
}