
/* Universal settings*/
.NavBar li:hover {
	background-color: rgba(#62, #9a, #06, 50%);
}

.NavBar li .active {
	background-color: none;
}

.NavBar li :not(active) {
 	background-color: none;
 }


/*Smartphone screens*/
@media screen and (max-width:700px) {



	.menuBtn{
		width:100%;
		height: 100%;
		
	}

	.toggleBtn.closed{
		width: 100%;
		height: 100%;

	}
	.toggleBtn.open{
		position: absolute;
		top: 0px;
		right: 0px;

	}

	.NavBar ul {
		position: absolute;
		top: 0px;
		right:0px;
		z-index: 2;
	  list-style: none;
	  background-color: #EDEDED;
		padding: 0;
		margin: 2%;
		text-align: center;
	}

	.NavBar li {
		display: block;
		margin: auto;
	}


	.NavBar li a {
		display: block;
	    color: black;
	    text-align: center;
	    text-decoration: none;
		padding: 10px 20px;
		font-family: 'Arvo', serif;
	}

	.NavBar .icon{
		font-size: 1.5em;
	}
}


/*desktop screens*/
@media screen and (min-width:700px) {
	.NavBar .toggleBtn {
		display: none;
	}

	 .NavBar ul {
		list-style: none;
		background-color: #EDEDED;
		margin: 0;
		padding: 20px;
	}

	.NavBar li {
		display: inline-block;
		padding-right: 10px;
	}

	 .NavBar li :not(active) {
	 	background-color: inherit;
	 }

	.NavBar li a {
		display: block;
    color: black;
    text-align: center;
    text-decoration: none;
		padding: 10px 20px;
		font-family: 'Arvo', serif;
	}

	.NavBar .menuIcon {
		display: none;
	}

	.NavBar .icon{
		font-size: 1.5em;
	}
}


/* Sweep To Top */
.hvr-sweep-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #236B8E;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
  color: white;
}
.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
