/*desktop*/
@media screen and (min-width: 700px){
  .navLogo {
    width: 6vw;
    height: 6vw;
    padding: 1vw;
  }

  .navEntry {
    text-align: center;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vw;
    font-size: 2vh;
    font-family: 'Arvo', serif;
    height: 5.5vw;
  }

  li input.searchInput{
    width: 18vw;
    font-size: 1vw;
    font-family: 'Arvo', serif;
    background:#E8E8E8;
    border-radius: 5px;
    color: black;
    text-indent: 1.5vw;
    margin-top: 1.5vw;
    margin-left: 1vw;
    margin-right: 2vw;
  }

  .searchIcon{
    margin-left: 2vw;
  }

  .bar {
    height: 6vw;
  }
}

/*mobile*/
@media screen and (max-width: 699px){

  .bar{
    height: 13vh;
  }

  .mobile_col {
    height: 13vh;
  }

  .NavLogo{
    height: 10vh;
    margin-top: 1.5vh;
    margin-left: -1vh;
  }

  .title{
    color: white;
    font-size: 4vh;
    font-family: 'Arvo', serif;
    padding-left: 2vh;
  }

}
/* Sweep To Top */

.hvr-sweep-to-top {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-sweep-to-top:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #236B8E;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-sweep-to-top:hover,
.hvr-sweep-to-top:focus,
.hvr-sweep-to-top:active {
    color: white;
}

.hvr-sweep-to-top:hover:before,
.hvr-sweep-to-top:focus:before,
.hvr-sweep-to-top:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: black;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: black;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: black;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: black;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: black;
}
