.cancel_btn{
  bottom: 73vh;
  right: 18vw;
}

.line {
  color: #F9F9F9;
  width: 65vw;
  margin-bottom: 7vh;
}

.subtitle{
  font-size: 2.5vh;
}

.close{
  cursor: pointer;
  margin: 0vh;
  padding: 0vh;
  height: 1vh;
}
