

.feed-item {
	margin: 10px;
    flex: 1 1 auto;
    background-color: #f5f5f5;
    border-radius: 10px;
    color: black;
}

.feed-title {
	color: black;
}

.feed-item.icon {
    display: block;
    margin: 5% auto;
    width: 100%;
}

 .feed-item.desc {
	padding: 0 20px;
    font-size: 1em;
    color: #333;
}



.home-content {
		color: black;
		background: white;
}

@media screen and (min-width:700px) {
	.feed-box {
		flex-flow: row nowrap;
	}

	.home-content {
		vertical-align: center;
	}

}

@media screen and (max-width:700px) {
	.feed-box {
		flex-flow: column nowrap;
	}
	.home-content {
		vertical-align: center;
	}

}