.picture{
	padding-top: 1vh;
}

.small_name{
	font-size: 2vh;
  text-align: center;
}

.desc {
	 font-size: 1.5vh;
	 color: #333;
	 text-align: center;
}

.feed-item {
	margin: 1.3vw;
  background-color: #f5f5f5;
  border-radius: 1vw;
  color: black;
}

.feed-title {
	color: black;
}

.home-content {
		color: black;
		background: white;
}

@media screen and (min-width:700px) {
	.feed-box {
		flex-flow: row nowrap;
	}

	.home-content {
		vertical-align: center;
	}

}

@media screen and (max-width:700px) {
	.feed-box {
		flex-flow: column nowrap;
	}
	.home-content {
		vertical-align: center;
	}

}
