.logo{
  width: auto;
  height: 13vh;
}

h1 {
  color: white;
  font-size: 7vh;
  text-shadow: 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

.buttonFont{
  color: black;
  bottom: 2vh;
}

.arrowIcon{
  color: white;
  font-size: 15px;
  padding-left: 5px;
}

.login-h2{
  font-size: 4vh;
  color:black;
}

.facebook-icon{
  color:#3B5998;
  background-color: white;
  width: 4vw;
  height: auto;
}

.google-icon{
  color:#d34836;
  background-color: white;
  width: 4vw;
  height: auto;
}

.linkedin-icon{
  color: #007bb6;
  background-color: white;
  width: 4vw;
  height: auto;
}


.LandingBack {
    /*OPTIONS FOR BACKGROUND*/
    /*background-image: url("jungle_bridge.jpg"); */
    /* background-image: url("birds-flying-in-sky.jpg"); */
    /*background-image: url("forest_bridge.jpg");*/
    /*background-image: url("river_bridge.jpg");*/
    /*background-image: url("whale.jpg");*/
    background-size: cover;
}
