.logo{
  width: auto;
  height: 13vh;
}

h1 {
  color: white;
  font-size: 7vh;
  text-shadow: 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

.buttonFont{
  color: black;
  bottom: 2vh;
}

.arrowIcon{
  color: white;
  font-size: 15px;
  padding-left: 5px;
}

.login-h2{
  font-size: 4vh;
  color:black;
}

.div-btn{
  margin-bottom: 20px;
}


.social-btn{
  height: 50px;
  padding-bottom: 20px;
  width: 60%;
}

.login-btn{
  font-size: 1rem;
  background-color: #8ac34b;
}

.face-btn{
  background-color:#3B5998;
}
.google-btn {
  background-color: #d34836;
}

.link-btn{
  background-color: #007bb6;
}

.s-icon{
  color:white; 
  width: 2vw;
  height: 2vw;
}

input[type=text]{
  font-size: 20px !important;
  text-align: center;
}

input[type=password]{
  font-size: 20px !important;
  text-align: center;
}

.LandingBack {
    /*OPTIONS FOR BACKGROUND*/
    /*background-image: url("jungle_bridge.jpg"); */
    /* background-image: url("birds-flying-in-sky.jpg"); */
    /*background-image: url("forest_bridge.jpg");*/
    /*background-image: url("river_bridge.jpg");*/
    /*background-image: url("whale.jpg");*/
    background-size: cover;
}

.light-green{
  padding-top: 0;
  padding-bottom: 10px;
}
.input-field{ 
  margin-bottom: 20px;
}


.div-login{
  text-align: left;
  font-size: 24px; 
}

.login-link{
  color:#33A1DE; 
}

.header-sign{ 
  margin-left: 8px;
  text-align: left;
}

.header-login{
  display: inline-block;
  margin-right: 75%;
}

.li-login{
  float: left;
  padding-right: 10px;
}

.exit-icon{ 
  font-size: 20px;
}

.close-login{
  padding-top: 0px !important;
  margin-top: 8px;
}