h1 {
  color: white;
  font-size: 7vh;
  text-shadow: 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

.face-btn{
  background-color:#3B5998;
}
.google-btn {
  background-color: #d34836;
}
.link-btn{
  background-color: #007bb6;
}

.s-icon{
  color:white;
  width: 4vh;
  height: 4vh;
}

input[type=text]{
  font-size: 20px !important;
  text-align: center;
}

input[type=password]{
  font-size: 20px !important;
  text-align: center;
}

.input-field{
  margin-bottom: 2vh;
  margin-top: 0vh;
}

.div-login{
  text-align: center;
  font-size: 3vh;
}

.login-link{
  color:#33A1DE;
}

@media screen and (max-width: 699px){
  .logo-class{
    height: 20vh;
    margin-top: 2vh;
  }

  .welcome-title{
    margin-top: 0vh;
    margin-bottom: 0vh;
  }
}
