.home-content {
		color: black;
		background: white;
}

.logged-in-p{
	margin-top: 200px;
	font-size: 20px;
	font-weight: 700;
}

.activity-feeds{
	margin-top: 0;
}

@media screen and (min-width:700px) {
	.home-content {
		vertical-align: center;
	}

}

@media screen and (max-width:700px) {
	.home-content {
		vertical-align: center;
	}

}