.home-content {
		color: black;
		background: white;
}


@media screen and (min-width:700px) {
	.home-content {
		vertical-align: center;
	}

}

@media screen and (max-width:700px) {
	.home-content {
		vertical-align: center;
	}

}