.ul-about {
    list-style: none;
    padding: 5%;
    padding-top: 0;
}

.div-about a,
.div-about a:visited,
.div-about a:active {
    margin-top: 10px;
    color: #a8a8a8;
    transition: color .5s;
}

.div-about a:hover {
    color: #747474;
}

@media screen and (max-width: 700px) {
    .div-about {
        display: flex;
        flex-flow: column wrap;
        margin: 10px auto;
        color: black;
        background-color: white;
    }
    .ul-about {
        background-color: white;
        color: black;
        display: block;
        margin: auto;
        width: 100%;
    }
    .ul-about li {
        display: block;
        margin: auto;
    }
    .hd-leader {
        padding: 30px 10px;
        margin: 0px;
        font-weight: 900;
        color: black;
    }
    .whoEntry {
        display: block;
        margin: auto;
        text-align: center;
        margin: 20px;
    }
    .about-pic {
        border-radius: 10%;
        width: 45vw;
        height: 50vw;
        margin: 10px;
    }
    .name {
        font-weight: 900;
        font-size: 1.25em;
        margin: 10px;
    }
    .role-desc {
        margin: 10px;
        font-size: 1em;
    }
    .icon {
        margin: 10px;
    }
}

@media screen and (min-width: 700px) {
    .div-about {
        margin: 0 0 50px 0;
        padding: 20px 0px;
    }
    .hd-leader {
        margin: 10px;
        color: black;
    }
    .ul-about {
        padding-bottom: 0px;
        display: flex;
        justify-content: space-around;
        align-items: space-around;
    }
    .ul-about li {
        display: inline-block;
        background-color: white;
        color: black;
        margin: 5px;
    }
    .about-pic {
        border: 4px solid #96b543;
        border-radius: 25px;
        margin-bottom: 10px;
        width: 190px;
        height: 210px;
    }
    .name {
        font-weight: 900;
        font-size: 18px;
    }
    .role-desc {
        font-size: .8em;
        color: #7d7d7d;
        margin: 10px;
    }
    .icon {
        margin: 10px 5px;
        font-size: 30px;
    }
    .chevron-div {
        font-size: 18px;
        width: 200px;
        margin: 0 auto;
        margin-top: -10px;
        transition: transform .3s;
    }
    .chevron-div:hover {
        color: #3b3b3b;
        cursor: pointer;
        transform: translate(0px, 3px);
    }
}
