#content {
  margin-left: 20vw;
  margin-right: 20vw;
}

#whoEntry {
  margin-left: 20vw;
  margin-right: 20vw;
  text-align: left;
}

#one {
  width: 35vw;
}

.Diana_pic {
  width: 40%;
  height: 40%;
  float: right;
}
