.ul-about{
  list-style: none;
  padding: 5%;
  padding-top: 0;
}

.div-about a:visited{
  color: #a8a8a8;
}
.div-about a:active{
  color: #a8a8a8;
}

@media screen and (max-width: 700px) {

  .div-about{
    display: block;
    margin: 10px auto;
    color: black;
    background-color: white;
  }


  .ul-about{
    background-color: white;
    color: black;
    display: block;
    margin: auto;
    width: 100%;
  }

  .ul-about li {
    display: block;
    margin: auto;
  }

  .hd-leader{
    padding: 30px 10px;
    margin: 0px;
    font-weight: 900;
    color: black;
  }

  .whoEntry {
    display: block;
    margin: auto;
    text-align: center;
    margin: 20px;
  }


  .about-pic{
    border-radius: 10%;
    width: 45vw;
    height: 50vw;
    margin: 10px;
  }

  .name{
    font-weight: 900;
    font-size: 1.25em;
    margin: 10px;
  }

  .role-desc{
    margin: 10px;
    font-size: 1em;
  }

  .icon{
    margin: 10px;
  }

}



@media screen and (min-width: 700px) {

  .div-about{
    margin: 30px 0px;
    padding: 20px 0px;
    color: black;
    background-color: white;
  }

  .hd-leader{
    padding-top: 5px;
    margin-top : 5px;
    margin-bottom: 0px;
    color: black;
  }

  .ul-about{
    padding-top: 10px;
    padding-bottom: 0px;
    display: block;
    background-color: white;
    color: black;
  }

  .ul-about li{
    display: inline-block;
  }

  .about-pic{
    border-radius: 25px;
    width: 190px;
    height: 210px;
  }

  .name{
    font-weight: 900;
    font-size: 17px;
  }

  .role-desc{
    font-size: 15px;
    margin: 10px;
  }

  .icon{
    margin-top: 3px;
    margin-right: 5px;
    font-size: 25px;
  }
  .chevron-div{
    /*margin: 0 auto; */
    width: 200px;
    margin: 0 auto;
  }  

  .chevron-div:hover{
   transform: font-size 1.2s ease;
   font-size: 18px;
   cursor: pointer;
  }
}