#believe-content {
    text-align: start;
    display: block;
    font-size: large;
}

#believe-title {
    margin-bottom: 2%;
}

#ideas-color0 {
    color: #bb2f3d;
}

#ideas-color1 {
    color: #5c7a0a;
}

#ideas-color2 {
    color: #236b8e;
}

.semi-transparent-box {
    background-color: white;
    color: black;
    padding-bottom: 20px;
    border-radius: 10px;
}

.strongest {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

.left {
    text-align: left;
}

#articles-list {
    list-style: none;
    padding: 0;
}

#articles-list li {
    background-color: #f5f5f5;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
    transition: background-color .3s;
}

#articles-list li:hover {
    cursor: pointer;
    background-color: #efefef;
}

#articles-list a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width:700px) {
    #believe-title {
        font-size: x-large;
        padding-top: 20px;
    }
    #believe-content {
        text-align: center;
        padding: 3vw;
        color: black;
    }
    .believe-container {
        margin: 2vw;
        padding: 3vw;
    }
    .believe-description {
        width: 100%;
    }
}

@media screen and (min-width:700px) {
    #believe-content {
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 0;
    }
    #believe-description {
        text-align: center;
        margin-bottom: none;
    }
}
