@media screen and (max-width:700px) {
    #content {
        margin-left: 5vw;
        margin-right: 5vw;
    }
}

@media screen and (min-width:700px) {

    .semi-transparent-box{
        margin: 0 5%;
        padding: 5px; 
        color: #333;
        background: rgba(255,255,255,.8);
    }
}
