#welcomeHeading h1 {
    font-size: larger;
}

.input-block {
    width: 100%;
    margin: .5em auto;
    padding: .5em;
}

.input-greyed {
    border: .125em solid #ccc;
    border-radius: .25em;
    background-color: #eee;
    font-family: 'Arvo', serif;
    font-size: 1em;
}

.input-greyed:focus {
    background-color: white;
}

.flex-box-stretch {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
}

.flex-box-col {
    max-height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.flex-box-between {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.flex-item {
    margin: auto;
}

.fullwidth {
    width: 100%;
}

.googleButton {
    background-color: #C81C2D;
}

.googleButton:hover {
    background-color: #db2d3e;
}

.facebookButton {
    background-color: #3b5998;
}

.facebookButton:hover {
    background-color: #4568b2;
}

.linkedInButton {
    background-color: #0077b5;
}

.linkedInButton:hover {
    background-color: #0d8acb;
}

.emailButton {
    background-color: #4a4a4a;
}

.emailButton:hover {
    background-color: #696969;
}

.btn {
    background-color: #C81C2D;
    color: white;
    border: none;
    padding: .6em;
    margin: auto;
    border-radius: .3em;
    font-family: 'Arvo', serif;
    cursor: pointer;
    font-size: 1em;
    transition: background-color .3s;
}

/*mobile*/

@media screen and (max-width:700px) {
    #signupForm {
        margin: auto;
        padding: .5em 5%;
        width: 90%;
        border: 3px solid #7c7d7d;
        border-radius: 15px;
        text-align: center;
        background-color: white;
        color: black;
    }
    .sign-up-p {
        margin: 3%;
        text-align: center;
    }
    #signupForm input {
        display: block;
        margin: auto;
        padding: 5%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    #signupForm input[type=text],
    input[type=email] {
        width: 100%;
        border: 2px solid #ccc;
        border-radius: 5px;
        background-color: #eee;
        font-family: 'Arvo', serif;
        font-size: 16px;
    }
    #signupForm input[type=text]:focus,
    input[type=email]:focus {
        background-color: white;
    }
    .authButton {
        width: 150px;
        color: white;
        border: none;
        padding: 10px 10px;
        margin: 5px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1em;
        font-family: 'Arvo', serif;
    }
    hr {
        width: 175px;
    }
}


/*desktop*/

@media screen and (min-width:700px) {
    #signupForm {
        padding: 10px 30px;
        margin: auto;
        max-width: 600px;
        border: 3px solid #7c7d7d;
        border-radius: 15px;
        text-align: center;
        background-color: white;
        color: black;
    }
    .sign-up-p {
        text-align: center;
    }
    #signupForm label {
        margin-left: 10px;
    }
    #signupForm input[type=text],
    input[type=email] {
        width: 100%;
        border: 2px solid #ccc;
        border-radius: 5px;
        background-color: #eee;
        font-family: 'Arvo', serif;
        font-size: 16px;
    }
    #signupForm input[type=text]:focus,
    input[type=email]:focus {
        background-color: white;
    }
    .authButton {
        width: 40%;
        color: white;
        border: none;
        padding: 10px;
        margin: auto;
        margin: 5px;
        border-radius: 5px;
        font-family: 'Arvo', serif;
        cursor: pointer;
        font-size: 16px;
        transition: background-color .3s;
    }
    hr {
        width: 50%;
    }
}
