
.donate-container{
  width: 100%;
  margin: 0 auto;
}

#interactions-img{
  width: 100%;
  height: auto;
}

#donation-desc{
  font-size: 20px;
}

.progress-bar{
  border: 2px solid black;
  border-radius: 10px;
  margin-bottom: 20px;
}

.btn.amounts{
  width: 100%;
  background-color: #5c7a0a !important;
} 

.label-radio{
  font-size: 20px;
}

.amount{
  margin-top: 10px;
  position: relative;
}

.fa-dollar{
  position: absolute;
  top:15px;
  left: 95px;
  color: black;
  font-size: 1.2em;
}

.amt-input{
  font-size: 18px !important;
  text-indent: 25px;
  width: 50% !important;
  line-height: 20px !important;
  border: 2px solid !important;
  border-radius: 5px !important;
}

.component-title{
  font-size: 20px;
  font-weight: 700; 
  float: left;
  margin-right: 65%;
  margin-bottom: 10px;
}

.input-label{
  color: black;
  font-size: 16px;
  float: left;
}

.input-style{
  border: 2px solid black !important;
  border-radius: 5px !important;
  padding: 0px;
  text-indent: 10px;
  text-align: start !important; 
}

.back-btn{
  float: left;
}

.continue-btn{
  float: right;
}

 [type="radio"]:checked{
  opacity: 1;
  position: relative;
  margin: 10px 0 0 10px;
  color: #236b8e;
  background-color: #236b8e;
}

[type="radio"]:not(:checked){
  opacity: 1; 
  position: relative;
  margin: 10px 0 0 10px;
} 

[type="radio"]{
  opacity: 1;
  position: relative;
  margin: 10px 0 0 10px;
  transform: scale(1.5);
}
