@media (min-width: 700px){
  .about-pic {
    box-shadow: 0 0 0 6px #b4d458;
    border-radius: 25px;
    width: 280px;
    height: 310px;
  }
  .name {
    font-weight: 900;
    font-size: 2vh;
    text-align: center;
  }
  .name-diana{
    font-weight: 900;
    font-size: 1.9vh;
    text-align: center;
  }
  .role-desc {
    font-size: 1.5vh;
    color: #7d7d7d;
    text-align: center;
  }
  .icon {
    margin: 1vw 1vh;
    font-size: 3vh;
    color: #7d7d7d;
  }
  .chevron-div {
    font-size: 2vh;
  }
  .chevron-div:hover {
    cursor: pointer;
    transform: translate(0px, 3px);
  }
}
