.profile-name{
  font-size: 4vh;
  margin: 0px;
}

.small-name{
  font-size: 2vh;
  text-align: center;
}

.profile-titles{
  font-size: 3vh;
  text-align: left;
}

.profile-text{
  font-size: 2vh;
  text-align: left;
}

.collabCard-text{
  text-overflow: ellipsis;
  max-height: 12vh;
}

.placeholder{
  font-style: italic;
  color: #7d7d7d;
}
